*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #f0f2f5; }

body {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif; }

.heading__primary {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.6);
  margin: 2.5rem 2.5rem 1rem 2.5rem;
  text-transform: capitalize; }

.heading__secondary {
  text-transform: capitalize;
  margin-top: .7rem;
  margin-left: 1rem;
  font-weight: bolder; }

.heading__tertiary {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  top: -1rem;
  left: 6rem; }

.margin__top-huge {
  margin-top: 7rem !important; }

.margin__top-medium {
  margin-top: 2rem !important; }

.margin__top-small {
  margin-top: .5rem !important; }

.margin__top-small1 {
  margin-top: 1rem !important; }

.margin__right-md {
  margin-right: 4.5rem !important; }

.margin__left-big {
  margin-left: 4rem !important; }

.margin__left-md {
  margin-left: 2rem !important; }

.margin__left-md-1 {
  margin-left: 1rem !important; }

.margin__left-small {
  margin-left: -2.5rem !important; }

.margin__left-small-1 {
  margin-left: -1.5rem; }

.margin__left-small-2 {
  margin-left: -.5rem !important; }

.profile__trsfrom {
  transform: translateY(1rem) !important; }

.u-fixed-position {
  position: fixed !important; }

.word__wrap {
  width: 13rem !important; }

.z-index-huge {
  z-index: 1000; }

.color {
  color: #727680 !important; }

.transform {
  transform: scale(1.3) translate(2rem, 0.3rem) !important; }

.profile {
  width: 100%;
  display: flex;
  padding: 1rem 0rem 0rem 0rem;
  cursor: pointer;
  position: relative; }
  .profile:not(:last-child) {
    margin-bottom: .5rem; }
  .profile__shape {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
    color: transparent; }
    .profile__shape-icolor {
      display: inline-block;
      height: 100%;
      width: 100%;
      font-size: 3rem;
      margin-left: .3rem;
      background-image: linear-gradient(to right, #01f7ff, #07a188);
      -webkit-background-clip: text; }
    .profile__shape-ibg {
      display: inline-block;
      height: 100%;
      width: 100%;
      font-size: 3rem;
      margin-left: 0rem;
      background-image: linear-gradient(to top, #cc2b5e, #753a88);
      -webkit-background-clip: text; }
    .profile__shape-iarr {
      color: rgba(0, 0, 0, 0.8);
      transform: translateY(0.5rem); }
  .profile--img {
    height: 100%;
    transform: translateX(-0.9rem) scale(2);
    object-fit: cover; }
  .profile--img2 {
    height: 100%;
    transform: translateX(0rem) scale(2);
    object-fit: cover; }
  .profile--online {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #07a188;
    position: relative;
    top: 2.6rem;
    left: -1.1rem; }
  .profile__shape2 {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    clip-path: polygon(10% 0, 89% 0, 100% 13%, 100% 89%, 91% 100%, 10% 99%, 0 87%, 0 12%);
    color: transparent; }

.story {
  height: 20rem;
  margin-top: 2rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0.05px 0.05px 3px rgba(0, 0, 0, 0.2), -0.05px 0px 1px rgba(0, 0, 0, 0.2);
  transition: all .3s; }
  .story__bg {
    height: 20rem;
    background: url("../img/nat-8.jpg");
    background-size: cover;
    background-position: center;
    transform: scale(1.8); }
  .story__fnStory {
    width: 100%;
    height: 100%; }
    .story__fnStory__img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .story__added {
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    text-align: center;
    z-index: 1; }
    .story__added__iadd {
      display: block;
      color: white;
      font-size: 3rem;
      position: relative;
      margin-top: -2rem;
      z-index: 10; }
      .story__added__iadd::before {
        content: '';
        width: 4rem;
        height: 4rem;
        display: block;
        clip-path: circle(50% at 50% 50%);
        background: #4676d6;
        z-index: -4;
        border: 3px solid white;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .story__added__para {
      text-transform: capitalize;
      margin-top: 1rem;
      font-size: 1.4rem;
      font-weight: 600; }
    .story__added__para2 {
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: capitalize;
      color: white;
      position: absolute;
      bottom: 1rem; }
  .story__profile {
    position: absolute;
    top: 1rem; }
    .story__profile::before {
      content: '';
      width: 4.2rem;
      height: 4.2rem;
      display: block;
      clip-path: circle(50% at 50% 50%);
      border: 3px solid #4676d6;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-7.5%, -37.5%); }
  .story:hover {
    background: red;
    transform: scale(1.05);
    z-index: 100; }

.row {
  max-width: 100%;
  display: flex; }
  .row:not(:last-child) {
    margin-bottom: 1.5rem; }
  .row [class^=col-]:not(:last-child) {
    margin-right: 5px; }
  .row .col-1-of-2 {
    width: calc((100% - 5px) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 5px) /3); }
  .row .col-1-of-4 {
    width: calc((100% - 5px) /4); }
  .row .col-1-of-5 {
    width: calc((100% - 5px) /5); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2*5px) /3) + 5px); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3*5px) /4) + 5px); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3*5px) /4) + 2*5px); }

.header {
  width: 100vw;
  padding: 3px;
  background: white;
  box-shadow: 0.05px 0.05px 3px rgba(0, 0, 0, 0.2), -0.05px 0px 1px rgba(0, 0, 0, 0.2);
  z-index: 100; }
  .header .logo_box {
    margin-left: 2rem; }
  .header .facebook_icon {
    color: #4676d6;
    font-size: 6rem; }
  .header .search_icon {
    font-size: 2.8rem;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 2rem;
    margin-left: 1rem; }
  .header .nav_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-37%); }
    .header .nav_icons__badge {
      position: absolute;
      top: -10px;
      right: -10px;
      padding: 5px 10px;
      border-radius: 50%;
      background: red;
      color: white; }
  .header .nav {
    position: relative; }
    .header .nav_menu {
      font-size: 3.5rem;
      padding: 1rem 2rem;
      color: rgba(0, 0, 0, 0.6); }
    .header .nav__badge {
      font-size: 1.2rem;
      position: absolute;
      top: -.4px;
      right: -5px;
      padding: .3rem .4rem;
      border-radius: 50%;
      background: red;
      color: white; }
  .header .main_icons--icon {
    font-size: 2.5rem;
    position: relative;
    color: black;
    position: relative;
    top: 35%; }
    .header .main_icons--icon::before {
      content: '';
      height: 3.7rem;
      width: 3.7rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      clip-path: circle(50% at 50% 50%);
      background: rgba(137, 143, 156, 0.3); }
  .header .main_icons__badge {
    font-size: 1.2rem;
    position: absolute;
    top: -1rem;
    right: -2rem;
    padding: .3rem .4rem;
    border-radius: 50%;
    background: red;
    color: white; }
  .header__main--link {
    display: flex; }

.side {
  width: 100%;
  padding: 1rem 0rem 1.5rem 2rem;
  height: 90vh; }
  .side .side__top {
    width: 100%;
    padding: 1rem 0rem 1.5rem 0rem; }
    .side .side__top__sv {
      width: 90%;
      background: white;
      margin: 1rem auto;
      box-shadow: 0.05px 0.05px 3px rgba(0, 0, 0, 0.2), -0.05px 0px 1px rgba(0, 0, 0, 0.2);
      height: 28rem;
      border-radius: 1rem;
      position: relative; }
      .side .side__top__sv__detial {
        width: 90%;
        margin: 0 auto;
        height: 100%;
        position: relative;
        border-radius: 1rem;
        overflow: hidden; }
        .side .side__top__sv__detial__video {
          display: block;
          width: 100%;
          height: 12rem; }
        .side .side__top__sv__detial__live {
          display: inline-block;
          background: #e93a3a;
          text-transform: capitalize;
          border-radius: 3px;
          padding: 3px 1rem;
          font-size: 1.6rem;
          color: white;
          position: absolute;
          top: 1.5rem;
          left: 1rem;
          z-index: 10; }
        .side .side__top__sv__detial__count {
          color: white;
          display: inline-block;
          background: rgba(0, 0, 0, 0.55);
          padding: 0 0.5rem;
          position: absolute;
          top: 1.8rem;
          left: 8rem;
          border-radius: 3px;
          z-index: 10; }
          .side .side__top__sv__detial__count--icon {
            font-size: 1.6rem;
            display: inline-block;
            transform: translateY(3px); }
          .side .side__top__sv__detial__count--onLive {
            font-size: 1.6rem;
            display: inline-block;
            transform: translateY(-2px); }
    .side .side__top .simplebar-scrollbar:before {
      background: red; }
  .side .side__middle {
    position: relative; }
    .side .side__middle__sponoredImg {
      display: inline-block;
      width: 100%;
      height: auto;
      border-radius: 1rem; }
    .side .side__middle__link {
      font-size: 1.2rem;
      text-transform: capitalize;
      text-decoration: none; }
  .side .side__bottom__copy__right {
    display: flex;
    flex-wrap: wrap;
    color: #898F9C;
    font-size: 1.3rem;
    padding: 1rem 0rem 0rem 2rem;
    text-transform: capitalize;
    margin-top: 1rem; }
    .side .side__bottom__copy__right__links {
      list-style-type: none; }
      .side .side__bottom__copy__right__links--value {
        display: inline-block;
        text-transform: capitalize;
        margin-right: 1.66rem;
        color: inherit;
        font-size: 1.3rem;
        text-decoration: none; }
        .side .side__bottom__copy__right__links--value:hover {
          text-decoration: underline; }

.main {
  width: 85%;
  margin: 0 auto;
  height: auto;
  padding: 1rem; }
  .main__creatPost {
    background: white;
    box-shadow: 0.05px 0.05px 3px rgba(0, 0, 0, 0.2), -0.05px 0px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    width: 100%;
    padding: 1rem;
    height: auto; }
    .main__creatPost--text {
      display: flex;
      justify-content: space-between; }
    .main__creatPost__input {
      width: 80%;
      background: rgba(137, 143, 156, 0.2);
      border: none;
      border-radius: 3rem;
      margin-right: 2rem; }
      .main__creatPost__input:focus {
        outline: none; }
