*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #f0f2f5; }

body {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif; }

.heading__primary {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.6);
  margin: 2.5rem 2.5rem 1rem 2.5rem;
  text-transform: capitalize; }

.heading__secondary {
  text-transform: capitalize;
  margin-top: .7rem;
  margin-left: 1rem;
  font-weight: bolder; }

.heading__tertiary {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  top: -1.5rem;
  left: 4rem; }

.margin__top-huge {
  margin-top: 15rem !important; }

.margin__top-medium {
  margin-top: 2rem !important; }

.margin__top-small {
  margin-top: .5rem !important; }

.margin__left-small {
  margin-left: -2.5rem; }

.margin__left-small-1 {
  margin-left: -1.5rem; }

.margin__left-small-2 {
  margin-left: -.5rem; }

.word__wrap {
  width: 13rem; }

.color {
  color: #727680; }

.profile {
  width: 100%;
  display: flex;
  padding: 1rem 0rem 0rem 2rem; }
  .profile:not(:last-child) {
    margin-bottom: .5rem; }
  .profile__shape {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
    color: transparent; }
    .profile__shape-icolor {
      display: inline-block;
      height: 100%;
      width: 100%;
      font-size: 3rem;
      margin-left: .3rem;
      background-image: linear-gradient(to right, #01f7ff, #07a188);
      -webkit-background-clip: text; }
    .profile__shape-ibg {
      display: inline-block;
      height: 100%;
      width: 100%;
      font-size: 3rem;
      margin-left: .3rem;
      background-image: linear-gradient(to top, #cc2b5e, #753a88);
      -webkit-background-clip: text; }
    .profile__shape-iarr {
      color: rgba(0, 0, 0, 0.8);
      transform: translateY(0.5rem); }
  .profile--img {
    height: 100%;
    transform: translateX(-0.9rem) scale(2);
    object-fit: cover; }
  .profile--img2 {
    height: 100%;
    transform: translateX(0rem) scale(2);
    object-fit: cover; }
  .profile--online {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #07a188;
    position: relative;
    top: 2.6rem;
    left: -1.1rem; }
  .profile__shape2 {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    clip-path: polygon(10% 0, 89% 0, 100% 13%, 100% 89%, 91% 100%, 10% 99%, 0 87%, 0 12%);
    color: transparent; }

.row {
  width: 100%;
  display: flex; }
  .row:not(:last-child) {
    margin-bottom: 1.5rem; }
  .row [class^=col-]:not(:last-child) {
    margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2rem) /3); }
  .row .col-1-of-4 {
    width: calc((100% - 2rem) /4); }
  .row .col-1-of-4 {
    width: calc((100% - 2rem) /4); }
  .row .col-1-of-5 {
    background: red;
    width: calc((100% - 2rem) /5); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2*2rem) /3) + 2rem); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3*2rem) /4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3*2rem) /4) + 2*2rem); }

.header {
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 3px; }
  .header .logo_box {
    margin-left: 2rem; }
  .header .facebook_icon {
    color: #4676d6;
    font-size: 6rem; }
  .header .search_icon {
    font-size: 2.8rem;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 2rem;
    margin-left: 1rem; }
  .header .nav_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .header .nav_icons__badge {
      position: absolute;
      top: -10px;
      right: -10px;
      padding: 5px 10px;
      border-radius: 50%;
      background: red;
      color: white; }
  .header .nav {
    position: relative; }
    .header .nav_menu {
      font-size: 3.5rem;
      padding: 1rem 2rem;
      color: rgba(0, 0, 0, 0.6); }
    .header .nav__badge {
      font-size: 1.2rem;
      position: absolute;
      top: -.4px;
      right: -5px;
      padding: .3rem .4rem;
      border-radius: 50%;
      background: red;
      color: white; }
  .header .main_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .header .main_icons--icon {
      font-size: 3rem;
      position: relative;
      color: black; }
      .header .main_icons--icon-drop {
        font-size: 4rem;
        color: black; }
        .header .main_icons--icon-drop::before {
          content: '';
          position: absolute;
          top: -2%;
          height: 4rem;
          width: 4rem;
          clip-path: circle(50% at 50% 50%);
          display: block;
          z-index: -1;
          background: rgba(137, 143, 156, 0.3); }
      .header .main_icons--icon::before {
        content: '';
        position: absolute;
        top: -8%;
        left: -13%;
        height: 4rem;
        width: 4rem;
        clip-path: circle(50% at 50% 50%);
        display: block;
        z-index: -1;
        transform: translate(-4%, -10%);
        background: rgba(137, 143, 156, 0.3); }
    .header .main_icons__badge {
      font-size: 1.2rem;
      position: absolute;
      top: -1rem;
      right: -2rem;
      padding: .3rem .4rem;
      border-radius: 50%;
      background: red;
      color: white; }

.side--scroll {
  width: 100%;
  padding: 1rem 0rem 1.5rem 0rem;
  height: 90vh;
  overflow: hidden;
  position: sticky;
  overflow-y: auto;
  overflow-x: hidden; }

.side .side__top {
  width: 100%;
  padding: rem 0rem 1.5rem 0rem; }
  .side .side__top__sv {
    width: 29rem;
    padding: 0rem 2rem;
    background: white;
    margin: 1rem auto;
    box-shadow: 0.05px 0.05px 3px rgba(0, 0, 0, 0.2), -0.05px 0px 1px rgba(0, 0, 0, 0.2);
    height: 28rem;
    border-radius: 1rem; }
    .side .side__top__sv__detial {
      width: 100%;
      height: 100%;
      position: relative; }
      .side .side__top__sv__detial__video {
        display: block;
        width: 100%;
        height: auto;
        display: block;
        position: absolute;
        top: 1rem;
        left: 0;
        border-radius: 1rem; }
      .side .side__top__sv__detial__live {
        display: inline-block;
        background: #e93a3a;
        text-transform: capitalize;
        border-radius: 3px;
        padding: 3px 1rem;
        font-size: 2rem;
        color: white;
        position: absolute;
        top: 2rem;
        left: 1rem;
        z-index: 10; }
      .side .side__top__sv__detial__count {
        color: white;
        display: inline-block;
        position: absolute;
        top: 2.5rem;
        left: 8rem;
        background: rgba(0, 0, 0, 0.55);
        padding: 0 .5rem;
        border-radius: 3px;
        z-index: 10; }
        .side .side__top__sv__detial__count--icon {
          display: inline-block;
          font-size: 2rem;
          transform: translateY(2px); }
        .side .side__top__sv__detial__count--onLive {
          font-size: 1.8rem;
          display: inline-block;
          transform: translateY(-2px); }

.side .side__middle__sponoredImg {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 2rem; }

.side .side__middle__link {
  font-size: 1.2rem;
  text-transform: capitalize;
  text-decoration: none; }

.side .side__bottom__copy__right {
  display: flex;
  flex-wrap: wrap;
  color: #898F9C;
  font-size: 1.3rem;
  padding: 1rem 0rem 0rem 2rem;
  text-transform: capitalize;
  margin-top: 1rem; }
  .side .side__bottom__copy__right__links {
    list-style-type: none; }
    .side .side__bottom__copy__right__links--value {
      display: inline-block;
      text-transform: capitalize;
      margin-right: 1.66rem;
      color: inherit;
      font-size: 1.3rem;
      text-decoration: none; }
      .side .side__bottom__copy__right__links--value:hover {
        text-decoration: underline; }

.post {
  height: 90vh; }
