.header{
    width: 100vw;
    padding: 3px;
    background: $color-primary;
    box-shadow: $shadow-main;
    z-index:100;

    
    .logo_box{
        margin-left: 2rem;
    }


    .facebook_icon{
            color: $color-tertiary;
            font-size: 6rem ;
    }

    .search_icon {
        font-size: 2.8rem;
        color: rgba($color-secondray,.6);
        position: absolute;
        top: 2rem;
        margin-left: 1rem;
    }

    .nav_icons {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: 0 3rem;
       position: relative;
       top: 50%;
       transform: translateY(-37%);

       &__badge{
            position: absolute;
            top: -10px;
            right: -10px;
            padding: 5px 10px;
            border-radius: 50%;
            background: red;
            color: white;
       }
    }

    .nav{
        position: relative;

        &_menu {
        font-size: 3.5rem;
        padding: 1rem 2rem;
        color: rgba($color-secondray,.6);
        }

        &__badge{
            font-size: 1.2rem;
            position: absolute;
            top: -.4px;
            right: -5px;
            padding: .3rem .4rem;
            border-radius: 50%;
            background: red;
            color: white;
        }

    }
    
    .main_icons {
       
        &--icon {
            font-size: 2.5rem;
            position: relative;
            color: rgba($color-secondray,7);
            position: relative;
            top: 35%;

            &::before{
                content: '';
                height: 3.7rem;
                width: 3.7rem;
                @include abCenter;
                clip-path: circle(50% at 50% 50%);
                background: rgba($color-primary-dark,.3);

            }
        }

        &__badge{
            font-size: 1.2rem;
            position: absolute;
            top: -1rem;
            right: -2rem;
            padding: .3rem .4rem;
            border-radius: 50%;
            background: red;
            color: white;
        }
     
    }

    &__main--link{
        display: flex;
    }


}