.margin__top-huge{margin-top: 15rem !important;}
.margin__top-medium{margin-top: 2rem !important;}
.margin__top-small{margin-top: .5rem !important;}

.margin__left-small{margin-left: -2.5rem;}
.margin__left-small-1{margin-left: -1.5rem;}
.margin__left-small-2{margin-left: -.5rem;}

.word__wrap{width: 13rem;}

.color{color: $color-primary-dark-2;}